@inherits LayoutComponentBase

<PageTitle>Financas</PageTitle>

<div class="page bg-gray-100">
    <div>
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="p-4 sm:ml-64">
            @Body
        </article>
    </main>
</div>
