<div class="flex flex-col gap-3 sm:gap-0 sm:flex-row sm:justify-between flex-wrap">

    <div
        class="flex flex-row w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 justify-between gap-4 max-w-sm p-6 bg-white border border-gray-200 rounded-3xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div id="div-agrupamento-saldo">
            <h5 class="mb-2 text-base font-sm tracking-tight text-gray-400 dark:text-white">Saldo atual</h5>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">R$ 2.570,00</h5>
        </div>
        <div class="flex justify-center bg-blue-600 self-center rounded-full h-12 w-12">
            <svg class="w-6 h-6 text-white dark:text-white m-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M11.905 1.316 15.633 6M18 10h-5a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h5m0-5a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1m0-5V7a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h15a1 1 0 0 0 1-1v-3m-6.367-9L7.905 1.316 2.352 6h9.281Z" />
            </svg>
        </div>
    </div>

    <div
        class="flex flex-row w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 justify-between gap-4 max-w-sm p-6 bg-white border border-gray-200 rounded-3xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div id="div-agrupamento-saldo">
            <h5 class="mb-2 text-base font-sm tracking-tight text-gray-400 dark:text-white">Receitas</h5>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">R$ 2.000,00</h5>
        </div>
        <div class="flex justify-center bg-green-500 self-center rounded-full h-12 w-12">
            <svg class="w-5 h-5 text-white dark:text-white m-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 10 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 13V1m0 0L1 5m4-4 4 4" />
            </svg>
        </div>
    </div>

    <div
        class="flex flex-row w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 justify-between gap-4 max-w-sm p-6 bg-white border border-gray-200 rounded-3xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div id="div-agrupamento-saldo">
            <h5 class="mb-2 text-base font-sm tracking-tight text-gray-400 dark:text-white">Despesas</h5>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">R$ 30,00</h5>
        </div>
        <div class="flex justify-center bg-red-500 self-center rounded-full h-12 w-12">
            <svg class="w-6 h-6 text-white dark:text-white m-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 10 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 1v12m0 0 4-4m-4 4L1 9" />
            </svg>
        </div>
    </div>

    <div
        class="flex flex-row  w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 gap-4 justify-between max-w-sm p-6 bg-white border border-gray-200 rounded-3xl shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <div id="div-agrupamento-saldo">
            <h5 class="mb-2 text-base font-sm tracking-tight text-gray-400 dark:text-white">Cartão de crédito</h5>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">R$ 0,00</h5>
        </div>
        <div class="flex justify-center bg-green-800 self-center rounded-full h-12 w-12">
            <svg class="w-6 h-6 text-white dark:text-white m-auto" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="currentColor" viewBox="0 0 20 14">
                <path d="M18 0H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2ZM2 12V6h16v6H2Z" />
                <path d="M6 8H4a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2Zm8 0H9a1 1 0 0 0 0 2h5a1 1 0 1 0 0-2Z" />
            </svg>
        </div>
    </div>


</div>